:root {
    --dark-mode: #0a3556;
}

* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

.video-container {
    position: static;
    width: 100%;
    height: 100vh;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

nav {
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}
nav h2 {
    color: #fff;
    font-family: 'Rubik Maps', system-ui;
    font-size: 26px;
    letter-spacing: 8px ;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;        
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik Maps', system-ui;
    font-size: 15px;
    transform: font-size 0.5s;
    cursor: pointer;
}

nav ul li a:hover{
    font-size: 17px;
}

.content {
    text-align: center;
    position: relative;
    margin-top: 10%;
}

.content h1 {
    color: #fff;
    font-size: 70px;
    font-family: 'Rubik Doodle Shadow', system-ui;
    margin: 5px;
    letter-spacing: 5px;
}

.content h1 span {
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: #ffa500;
}

.content h2 {
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: #fff;
    font-size: 50px;
    margin: 0;
}

.content select {
    padding: 20px 2%;
    color: #333;
    background: #fff;
    min-width: 300px;
    font-size: 20px;
    border-radius: 8px;
    font-family: 'Genos', sans-serif;
    margin-bottom: 3%;
    border: none;
    outline: none;
}
.content select option{
    font-family: 'Genos', sans-serif;
}    

.content button {
    margin-top: 14px;
    font-size: 50px;
    border-radius: 700px;
    background: #ffa500;
    padding-top: 10px;
    padding-bottom: 5px;
}

.content form {
    padding: 5px 5px 5px 100px;
    color: #fff;
    min-width: 350px;
    font-size: 32px;
    font-family: 'Genos', sans-serif;
    display: inline-block;
}

.content form fieldset #search-part
{
    color: #000;
    font-family: 'Genos', sans-serif;
    padding: 20px 15%;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
}

.content form fieldset
{
    border: 0px;
}

.FEATURED{
    margin: 12% 10%;
    font-family: 'Rubik Maps', system-ui;
    font-size: 37px;
    color: var(--dark-mode);
    margin-bottom:15px;
}

.car-list {
    width: 100%;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    margin: 1% 8%;
}

.car-content {
    background: var(--dark-mode);
    color: #fff;
    overflow: hidden;
    width: 550px;
    border-radius: 14px;
    margin: 10px 15px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.5s;    
}

.car-content:hover {
    box-shadow: 0 10PX 15px var(--dark-mode);
}

.car-content a {
    color: #fff;
    text-decoration: none;
}

.car-content img {
     width: 100%;
     height: 50%;
     object-fit: cover;
}

.car-content p {
    padding: 15px 23px;
    font-size: 25px;
}
 
.car-content label{
    font-size: 26px;
    font-weight: bold;
    padding: 10px 23px;
    display: block;
}

.car-content hr {
    background: #0a3556;
    width: 90%;
    margin: 5px 15px;
}

.car-content ul li{
    align-items: center;
    display:inline-block;
    margin: 10px 0 0 12px;
    padding: 10px 0 0 10px;
    font-size: 17px;
}

footer {
    background: linear-gradient(5deg,#0a3556, #03253f);
    color:#fff;
    width: 100%;
    margin-top: 7%;
    text-align: center;
  }
  
  footer h1 {
    font-size: 50px;
    font-family: genos;
    letter-spacing: 8px;
    padding-top: 4%;
    padding-bottom: 2%;
  }
  
  
  footer .footerDetails {
    display: flex;
    justify-content: space-evenly;
  }
  
  footer .footerDetails .address ul{
    list-style: none;
  }
  
  .address ul li {
    padding: 10px;
    font-family: genos;
    font-size: 18px;
  }
  
  footer .social-media {
    padding: 15px 10px;
  }
  
  .social-media i {
    margin-left: 2px;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .social-media i:hover {
    background: #fff;
    color: #0a3556;
    border-radius: 3600px;
  }
  
  footer hr {
    margin: 14px;
    width: 50%;
    margin-left: 25%;
  }
  footer label {
    font-family: 'poor story';
    text-align: center;
    font-size: 23px;
  }
  
  label span {
    color: rgb(208, 22, 22);
  }